.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0 20px 0;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input:checked + span {
  text-decoration: line-through;
}

span:last-child {
  color: red;
  cursor: pointer;
}
.userpage {
  width: 50%;
  margin: 0 auto;
}
.users {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
}
.users p {
  margin: 1px 0;
  color: #000;
  font-size: 20px;
}
.users p span {
  color: blue;
  text-decoration: underline;
}
